@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 127, 80, 0.301);
  color: gray;
}

header {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  font-size: 2rem;
}

.red {
  color: #ff5148;
}

.blue {
  color: #01a1a1;
}

#game-board {
  border-radius: 15px;
  overflow: hidden;
  height: 20rem;
  width: 20rem;
  margin: 2rem;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  gap: 1%;
  background-color: white;
}

#game-board div {
  width: 100%;
  height: 100%;
  background-color: rgb(14, 41, 53);
  font-family: "Varela Round", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  place-items: center;
}

#result {
  height: 3rem;
  font-size: 2rem;
  font-weight: 600;
}

#restart {
  outline: none;
  padding: 1.5rem;
  border-radius: 25px;
  border: none;
  background-color: rgb(12, 49, 54);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  border-bottom: 3px solid black;
  transition: all 0.4s ease-in-out;
}

#restart:active {
  border-bottom: none;
}
